.agenda-card {}
.agenda-card__header {
    padding: var(--space-md);
}
.agenda-card__footer {

}

.agenda-card__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-md);
    margin: 0;
}

.agenda-card__subtitle {
    font-weight: var(--font-weight-thin);
    font-size: var(--font-sm);
    margin: 0;
}

.agenda-card__divide {
    border: none;
    border-bottom: 1px solid var(--color-mid);
}
