.congressman-avatar {
    display: inline-block;
    position: relative;
    color: var(--color-light);
}
.congressman-avatar__image {
    display: inline-block;
    background-color: currentColor;
    object-fit: cover;
    vertical-align: bottom;
}
.congressman-avatar__image--cutout {
    clip-path: path('M58.962 41.485C60.2783 38.0765 61 34.3728 61 30.5C61 13.6553 47.3447 0 30.5 0C13.6553 0 0 13.6553 0 30.5C0 47.3447 13.6553 61 30.5 61C34.3728 61 38.0765 60.2783 41.485 58.962C39.9862 56.8988 39.1026 54.3602 39.1026 51.6154C39.1026 44.7048 44.7048 39.1026 51.6154 39.1026C54.3602 39.1026 56.8988 39.9862 58.962 41.485Z');
}
.congressman-avatar__image--oval {
    clip-path: circle(30.5px at 30.5px 30.5px);
}

.congressman-avatar__color {
    position: absolute;
    fill: currentColor;
    bottom: 0;
    right: 0;
    width: 19px;
    height: 19px;
}

/*
    CLASS VARIATIONS
*/

/* small */
.congressman-avatar--sm {
    & .congressman-avatar__image--cutout {
        clip-path: path('M37.697 26.5232C38.5386 24.344 39 21.9761 39 19.5C39 8.73047 30.2695 0 19.5 0C8.73047 0 0 8.73047 0 19.5C0 30.2695 8.73047 39 19.5 39C21.9761 39 24.344 38.5386 26.5232 37.697C25.5649 36.3779 25 34.7549 25 33C25 28.5818 28.5818 25 33 25C34.7549 25 36.3779 25.5649 37.697 26.5232Z');
    }
    & .congressman-avatar__image--oval {
        clip-path: circle(19.5px at 19.5px 19.5px);
    }
    & .congressman-avatar__color {
        width: 12px;
        height: 12px;
    }
}

/* medium */
.congressman-avatar--md {
    & .congressman-avatar__image--cutout {
        clip-path: path('M58.962 41.485C60.2783 38.0765 61 34.3728 61 30.5C61 13.6553 47.3447 0 30.5 0C13.6553 0 0 13.6553 0 30.5C0 47.3447 13.6553 61 30.5 61C34.3728 61 38.0765 60.2783 41.485 58.962C39.9862 56.8988 39.1026 54.3602 39.1026 51.6154C39.1026 44.7048 44.7048 39.1026 51.6154 39.1026C54.3602 39.1026 56.8988 39.9862 58.962 41.485Z');
    }
    & .congressman-avatar__image--oval {
        clip-path: circle(30.5px at 30.5px 30.5px);
    }
    & .congressman-avatar__color {
        width: 19px;
        height: 19px;
    }
}

/* large */
.congressman-avatar--lg {
    & .congressman-avatar__image--cutout {
        clip-path: path('M91.8261 64.6078C93.876 59.2995 95 53.5315 95 47.5C95 21.2665 73.7335 0 47.5 0C21.2665 0 0 21.2665 0 47.5C0 73.7335 21.2665 95 47.5 95C53.5315 95 59.2995 93.876 64.6078 91.8261C62.2736 88.6129 60.8974 84.6593 60.8974 80.3846C60.8974 69.6223 69.6223 60.8974 80.3846 60.8974C84.6593 60.8974 88.6129 62.2736 91.8261 64.6078Z');
    }
    & .congressman-avatar__image--oval {
        clip-path: circle(47.5px at 47.5px 47.5px);
    }
    & .congressman-avatar__color {
        width: 30px;
        height: 30px;
    }
}
