.congressman-avatar {
    display: inline-block;
    position: relative;
}
.congressman-avatar__image {
    vertical-align: bottom;
}
.congressman-avatar__image--cutout {
    clip-path: path('M45.5,0 C70.6289561,0 91,20.3710439 91,45.5 C91,49.6940735 90.4325384,53.7556092 89.3702049,57.6120175 C85.247261,52.9437157 79.2174013,50 72.5,50 C60.0735931,50 50,60.0735931 50,72.5 C50,79.2174013 52.9437157,85.247261 57.6115163,89.3699484 C53.7556092,90.4325384 49.6940735,91 45.5,91 C20.3710439,91 0,70.6289561 0,45.5 C0,20.3710439 20.3710439,0 45.5,0 Z');
}
.congressman-avatar__image--oval {
    clip-path: circle(45.5px at 45.5px 45.5px);
}
.congressman-avatar__color {
    width: 30px;
    height: 30px;
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/*
    CLASS VARIATIONS
*/

/* small */
.congressman-avatar--sm {
    & .congressman-avatar__image--cutout {
        clip-path: path('M18.5,0 C28.7172679,0 37,8.28273213 37,18.5 C37,20.2052826 36.7692739,21.8566763 36.3373361,23.4246665 C34.6609743,21.5265657 32.2092731,20.3296703 29.478022,20.3296703 C24.4255269,20.3296703 20.3296703,24.4255269 20.3296703,29.478022 C20.3296703,32.2092731 21.5265657,34.6609743 23.4244627,36.3372318 C21.8566763,36.7692739 20.2052826,37 18.5,37 C8.28273213,37 0,28.7172679 0,18.5 C0,8.28273213 8.28273213,0 18.5,0 Z');
    }
    & .congressman-avatar__image--oval {
        clip-path: circle(18.5px at 18.5px 18.5px);
    }
}

/* medium */
.congressman-avatar--md {
    & .congressman-avatar__image--cutout {
        clip-path: path('M45.5,0 C70.6289561,0 91,20.3710439 91,45.5 C91,49.6940735 90.4325384,53.7556092 89.3702049,57.6120175 C85.247261,52.9437157 79.2174013,50 72.5,50 C60.0735931,50 50,60.0735931 50,72.5 C50,79.2174013 52.9437157,85.247261 57.6115163,89.3699484 C53.7556092,90.4325384 49.6940735,91 45.5,91 C20.3710439,91 0,70.6289561 0,45.5 C0,20.3710439 20.3710439,0 45.5,0 Z');
    }
    & .congressman-avatar__image--oval {
        clip-path: circle(45.5px at 45.5px 45.5px);
    }
}

/* large */
.congressman-avatar--lg {
    & .congressman-avatar__image--cutout {
        clip-path: path('M71.5,0 C110.98836,0 143,32.0116404 143,71.5 C143,78.0906869 142.108275,84.4731001 140.438893,90.5331703 C133.959982,83.1972675 124.484488,78.5714286 113.928571,78.5714286 C94.4013606,78.5714286 78.5714286,94.4013606 78.5714286,113.928571 C78.5714286,124.484488 83.1972675,133.959982 90.5323828,140.43849 C84.4731001,142.108275 78.0906869,143 71.5,143 C32.0116404,143 0,110.98836 0,71.5 C0,32.0116404 32.0116404,0 71.5,0 Z');
    }
    & .congressman-avatar__image--oval {
        clip-path: circle(143px at 143px 143px);
    }
}
