
.congressman-sitting-card {
    display: grid;
    grid-template-rows: 1fr auto auto;
    height: 100%;
}
.congressman-sitting-card__footer {
    padding: var(--space-md);
}
.congressman-sitting-card__list {
    list-style: none;
    padding: 0;
}

.congressman-sitting-card__divider {
    margin: 0;
    border: none;
    border-bottom: 1px solid var(--color-light);
}
