.congressman-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    padding: var(--space-md);
    gap: 1rem;
}
.congressman-card__aside {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
.congressman-card__header {
    grid-column: 2 / span 1;
}
.congressman-card__content {
    grid-column: 2 / span 1;
}
.congressman-card__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-md);
    margin: 0;
}
