.issue-card {}

.issue-card__header {
    padding: var(--space-md);
}
.issue-card__content {
    padding: var(--space-md);
}
.issue-card__footer {
    padding: var(--space-md);
}

.issue-card__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-md);
    margin: 0;
}
.issue-card__subtitle {
    font-weight: var(--font-weight-thin);
    font-size: var(--font-sm);
    margin: 0;
}
