.plenary-title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-md);
    margin: 0;
}
.plenary-subtitle {
    font-weight: var(--font-weight-thin);
    font-size: var(--font-sm);
    margin: 0;
}
