/* @todo make colors a css-property */
.timeline {
    width: 100%;
}

.timeline__bar {}
.timeline__bar--primary {
    fill: var(--color-default-timeline);
}
.timeline__bar--secondary {
    fill: var(--color-secondary-timeline);
}
.timeline__label {
    font-size: calc(var(--font-xs) / 2);
}
