:root {

}
@media screen and (min-width: 768px) {
    :root {

    }
}
@media screen and (min-width: 1280px) {
    /* Laptop 1280px */
}
@media screen and (min-width: 1920px) {
    /* Desktop  */
}

.assembly-issue {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--size-min-card), 1fr));
}

.assembly-issue__header {

}
.assembly-issue__content {

}

.assembly-issue__navigation {

}
.assembly-issue__navigation-list {
    display: flex;
    list-style: none;
    gap: var(--space-md);
    padding: 0;
}
.assembly-issue__navigation-list-item {

}
