:root {

}
@media screen and (min-width: 768px) {
    :root {

    }
}
@media screen and (min-width: 1280px) {
    :root {

    }
}
@media screen and (min-width: 1920px) {
    :root {

    }
}

.assembly-congressmen__section {}

.assembly-congressmen__list {
    list-style: none;
    padding: 0;
}

.assembly-congressmen__list--grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--size-min-card), 1fr));
    gap: var(--space-md);
}

.assembly-congressmen__list--list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-md);
}

.assembly-congressmen__list-item {

}
