:root {

}
@media screen and (min-width: 768px) {
    :root {

    }
}
@media screen and (min-width: 1280px) {
    /* Laptop 1280px */
}
@media screen and (min-width: 1920px) {
    /* Desktop  */
}

.assembly-congressman {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--size-min-card), 1fr));
    gap: var(--space-md);
}
.assembly-congressman__header {}
.assembly-congressman__content {}
.assembly-congressman__navigation {}

.assembly-congressman__navigation-list {
    display: flex;
    gap: var(--space-md);
    padding: 0;
    list-style: none;
}
.assembly-congressman__navigation-item {}
